:root {
  --font-family: "SF Pro Text",
    "SF Pro Icons",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  --deep-blue: rgb(49, 11, 218);
  --deep-red: rgb(239, 6, 72);
  --white: #fbfafa;
  --charcoal: rgb(45, 43, 43);
  --layout-guide-item: rgba(255, 89, 0, 0.975);
  --layout-guide-content: rgb(0, 183, 255);
}
body {

  direction:rtl;
  background-color: #FFFEF3;
}
/* our project */


/* Navbar */

.navbar-container{
  display: flex;
  justify-content:left; 
  column-gap: 70%;
  padding-right: 5%;
  padding-left: 10%;
  border-bottom: 2px solid #373737;
}

/* Footer */

.footer-container{
  block-size: 100%;
  text-align: center;
  border-style: solid;
  background-color: #373737;
}
.footer-text{
  color: #FFFEF3;
}

.articles_list{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  row-gap: 20px;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 10%;


}

.article_head_item{

}

.article_record_content {
  box-sizing: content-box;
  width: 100%;
  border: solid grey 3px;
  border-radius: 25px;
  padding: 5px 5px;
  text-align: right;
}

.article_head_subject{
  text-decoration: underline dotted orange;
}
.article_subject_likes_views_container{
  display: flex;
  flex-flow: row;
  justify-content:right; 
  column-gap: 20%;
}
.article_head_text{
}


/* buttons */

.navbar-logo{

}
.cto-button{
  
}
.account-button{
  
}

.icon_grid{
  background: orange;

}

form>* {
  position: inherit;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: var(--font-family);
}




/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {

  .item.navbar-logo,
  .item.navbar-menu {
    flex-basis: 50%;
  }
}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }

}

button {
  border:none;
  background-color:transparent;
  outline:none;
}